.external{
  margin: 0 auto;
  width: 960px; }

.header,
.main,
.footer {
  float: left;
  clear: both;
  width: 960px; }

.header {
  position: relative;
  height: 409px; }

.header h1,
.header h2,
.header ul.menu {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.33);
  font-weight: normal; }

.header h1 {
  font-size: 60px;
  color: #e3e3e3;
  background: 0 0 no-repeat #d12960 url("../images/header_h1_bkg.png"); 
  padding: 10px 20px; }

.header h1 a,
.header h1 a:hover {
  text-decoration: none;
  color: #e3e3e3; }

.header h1 span {
  width: 0px;
  height: 0px;
  background: #fff;
  position: absolute;
  top: 0;
  right: -34px;
  display: block; }

.header h2 {
  font-size: 30px;
  color: #e3e3e3;
  line-height: 50px;
  background: 0px 0 repeat-x url("../images/header_h2_bkg.png"); 
  height: 105px;
  top: 80px;
  left: 55px; }

.header h2 span {
  display: block;
  height: 105px;
  padding: 0 20px;
  background: 0 0 no-repeat url("../images/header_h2_span_bkg.png"); }


.header ul.menu {
  background: #5e6286;
  font-family: "Myriad Pro", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  list-style: none;
  right: 0;
  bottom: 0;
  width: 660px;
  height: 50px; }

.header ul.menu li {

  display: block;
  margin: 0;
  padding: 0;
  float: left;
  clear: none; }

.header ul.menu li.active {
  background: #c80042; }

.header ul.menu li a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: #e3e3e3; }

.header ul.menu li a:hover {
  text-decoration: underline; }

.header div {
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  background-color: #dedede;
  right: 620px;
  bottom: 0; }

.main {
  background: #fff; 
  border-bottom: 10px #d8d8d8 solid;}

.main .sidebar {
  display: block;
  width: 295px;
  float: left; }

.main .sidebar ul.menu {
  font-family: "Myriad Pro", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  list-style: none;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: block; }

.main .sidebar ul.menu li {
  background: #cbc4bb;
  display: block;
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 0; }

.main .sidebar ul.menu li.active {
  background: #c1b8ad; }

.main .sidebar ul.menu li a {
  display: block;
  line-height: 30px;
  text-align: right;
  font-weight: bold;
  padding: 10px 15px;
  color: #fff; }

.main .sidebar ul.menu li a:hover {
  text-decoration: underline;}

.main .sidebar h3,
.main .sidebar p {
  padding: 0 0 0 40px;
  text-align: right; }

.main .content {
  display: block;
  width: 560px;
  position: relative;
  right: 60px;
  float: right;
  margin: 0;
  padding: 50px 0; }

.footer {
  display: block;
  margin: 0;
  padding: 0; }

.footer p {
  padding: 10px 0;
  color: #b0b0b0; }
